//////////////////////////
// mixin
//////////////////////////
@mixin sp {
  @media screen and (max-width: 560px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width:560px) {
    @content;
  }
}

@mixin pc {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

//////////////////////////
// import
//////////////////////////
@import "drawer/drawer";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
//////////////////////////
// common
//////////////////////////
body {
  font-family: 'Noto Sans JP', sans-serif;
}

// 背景色の設定
.bg-main-color {
  background-color: #2c4087;
}

.bg-sub-color01 {
  background-color: #f7fCfd;
}

.bg-sub-color02 {
  background-color: #fafafa;
}

.bg-white {
  background-color: #fff;
}

// 文字の設定
p,
dd {
  color: #6f7579;
  line-height: 1.5;
  font-size: 0.875em;
  @include pc {
    line-height: 1.9;
    font-size: 1em;
  }
}

.text-blue {
  color: #1189c6;
}
.text-white {
  color: #fff;
}

// ボタンの設定
.btn {
  border: 2px solid #1189c6;
  border-radius: 4px;
  width: 242px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .btn-content {
    color: #1189c6;
    font-weight: bold;
    font-size: 0.75em;
    &::after {
      background: url(/ootomi-kensetsu/img/arrow.svg) no-repeat;
      content: ' ';
      width: 20px;
      height: 22px;
      position: absolute;
      top: 15px;
      right: -1px;
    }
  }
}

//////////////////////////
// home
//////////////////////////

//header
.header__wrap {
  background-color: #2c4087;
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  .header__content {
    padding: 24px 20px;
    @include pc {
      width: 1000px;
      display: flex;
      margin: 0 auto;
      padding: 24px 0;
    }
  }
}
.header__content {
  .header__logo {
    font-size: 1.5em;
    font-weight: bold;
  }
}

//メイン画像
.main-image {
  background-image: url("/ootomi-kensetsu/img/main-sp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
  @include pc {
    background: url("/ootomi-kensetsu/img/main-pc.jpg") center / cover;
    background-position: center;
  }
}

.main-text {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.58;
  padding: 190px 20px 0;
  text-shadow: 0 3px 6px rgba($color: #000, $alpha: .16);
  @include pc {
    width: 1000px;
    height: 893px;
    margin: 0 auto;
    font-size: 2.042em;
  }
}

//TOPコンテンツ
.main__contents {
  padding: 0 40px 100px;
  @include pc {
    width: 1000px;
    margin: 0 auto;
    padding: 0 0 100px;
  }
}

.content__title {
  padding-top: 60px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color: #53585c;
  letter-spacing: 0.08em;
  @include pc {
    padding-top: 90px;
    font-size: 2.083em;
  }
  .sub-title {
    display: block;
    font-size: 0.583em;
    font-weight: normal;
    margin-bottom: 5px;
    letter-spacing: 0;
  }
}
.secondary-text {
  text-align: center;
  font-size: 0.875em;
  margin-top: 20px;
  @include pc  {
    font-size: 1em;
    margin-top: 40px;
  }
  .indention-sp {
    display: block;
    @include pc {
      display: inline;
    }
  }
  .indention-pc {
    display: none;
    @include pc {
      display: block;
    }
  }
}

//事業紹介
.business-content__wrap {
  background: url("/ootomi-kensetsu/img/bg-business-sp.png") no-repeat 50% 30px;
  background-color: #f7fCfd;
  @include pc {
    background: url("/ootomi-kensetsu/img/bg-business-pc.png") no-repeat 50% 40px;
    background-color: #f7fCfd;
  }
}
.content-business__list {
  margin-top: 40px;
  @include tablet {
    display: flex;
    justify-content: space-between;
  }
  .business__list-item {
    border: 1px solid #b8bcBf;
    @include tablet {
      width: calc((100% / 3) - 20px);
    }
    &:not(:first-child) {
      margin-top: 20px;
      @include tablet {
        margin-top: 0;
      }
    }
  }
  .list-link {
    display: block;
    .list-item-img {
      display: block;
      width: 100%;
      overflow: hidden;
      .item-img {
        width: 100%;
      }
    }
    .list-content-text {
      padding: 35px 15px;
      text-align: center;
      .list-content-text__title {
        font-size: 1.125em;
        color: #53585c;
        font-weight: bold;
      }
      .list-content-text__text {
        font-size: 0.875em;
        margin-top: 10px;
      }
    }
  }
}

//実績
.works-content__wrap{
  background: url("/ootomi-kensetsu/img/bg-works-sp.png") no-repeat 50% 100%;
  margin-bottom: 40px;
  @include pc {
    background: url("/ootomi-kensetsu/img/bg-works-pc.png") no-repeat 50% 100%;
  }
}
.works__contet {
  margin-top: 40px;
  @include pc {
    display: flex;
  }
  .works__image-wrap {
    width: 295px;
    height: 221px;
    margin: 0 auto;
    overflow: hidden;
    @include pc {
      width: 100%;
      height: 348px;
      margin-right: 40px;
    }
    .works__image {
      width: 100%;
      object-fit: cover;
    }
  }
  .works__text {
    margin-top: 30px;
    @include pc {
      margin-top: -33px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .works__text__day {
    color: #6f7579;
    text-align: center;
    @include pc {
      text-align: left;
    }
  }
  .works__text__label {
    background-color: #b91414;
    color: #fff;
    font-weight: bold;
    padding: 0 15px 2px;
    margin-right: 10px;
  }
  .works__text__details {
    margin-top: 20px;
  }
  .btn {
    margin-top: 40px;
    @include pc {
      margin-left: 0;
    }
  }
}

//ニュース
.news__content {
  margin-top: 40px;
  padding-bottom: 50px;
  @include pc {
    width: 700px;
    margin: 40px auto 0;
  }
  .news__link {
    color: #707070;
    display: block;
    &:not(:first-child) {
      margin-top: 20px;
    }
  }
  .news__definition-list {
    padding-bottom: 15px;
    border-bottom: 1px solid #707070;
    .news__definition-day {
      @include pc {
        display: inline;
        margin-right: 60px;
      }
    }
    .news__definition-text {
      margin-top: 10px;
      @include pc {
        display: inline;
        margin-top: 0;
      }
    }
  }
}

//沖縄の背景画像
.bg-image-okinawa {
  background: url("/ootomi-kensetsu/img/bg-footer-sp.jpg") no-repeat;
  content: '';
  height: 311px;
  @include tablet {
    background: url("/ootomi-kensetsu/img/bg-footer-pc.jpg") no-repeat;
    height: 539px;
  }
  .screen-reader-text {
    position: absolute;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
  }
}

//お問い合わせ
.contact__content {
  margin-top: 40px;
  text-align: center;
  .contact__definition-list {
    width: 260px;
    margin: 0 auto;
  }
  .contact__definition-tel {
    font-size: 1.5em;
    padding-bottom: 10px;
    border-bottom: 1px solid #707070;
    .contact-link {
      color: #53585c;
      font-weight: bold;
      &::before {
        background: url(/ootomi-kensetsu/img/icon-tel.svg) no-repeat;
        content: ' ';
        display: inline-block;
        padding-right: 10px;
        position: relative;
        top: 1px;
        width: 31px;
        height: 23px;
      }
    }
  }
  .contact__definition-text {
    padding-top: 10px;
  }
  .btn {
    margin-top: 40px;
  }
}

//footer
.footer-content {
  .footer__copy-right {
    padding-top: 3px;
  }
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  .footer__sns {
    display: flex;
  }
  .footer__sns__icon {
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}