@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
.header__nav {
  background-color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 812px;
  width: 210px;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
@media screen and (min-width: 1000px) {
  .header__nav {
    width: 100%;
    height: 0;
    position: static;
    display: block;
    background-color: transparent;
  }
}
.header__nav .header__nav__list {
  position: absolute;
  top: 60px;
  left: 40px;
}
@media screen and (min-width: 1000px) {
  .header__nav .header__nav__list {
    position: static;
    display: flex;
    justify-content: space-between;
  }
}
.header__nav .nav__list-ltem {
  padding: 25px 20px;
  transition: all 0.5s;
}
.header__nav .header__link {
  color: #2c4087;
  position: relative;
  display: inline-block;
}
@media screen and (min-width: 1000px) {
  .header__nav .header__link {
    color: #fff;
  }
}
.header__nav .header__link::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: "";
  width: 100%;
  height: 1px;
  background: #2c4087;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform 0.3s;
}
.header__nav .header__link:hover::after {
  transform: scale(1, 1);
}

.sp-humburger {
  background-color: transparent;
  border: 0;
  position: absolute;
  top: 33px;
  right: 20px;
  display: block;
  box-sizing: content-box;
  width: 24px;
}
@media screen and (min-width: 1000px) {
  .sp-humburger {
    display: none;
  }
}
.sp-humburger .screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
.sp-humburger .drawer-hamburger-icon {
  display: block;
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #fff;
}
.sp-humburger .drawer-hamburger-icon::before {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: -10px;
  left: 0;
  content: " ";
}
.sp-humburger .drawer-hamburger-icon::after {
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 10px;
  left: 0;
  content: " ";
}
.sp-humburger .drawer-hamburger-close {
  background-color: transparent;
}
.sp-humburger .drawer-hamburger-close::before {
  display: block;
  width: 2px;
  height: 24px;
  content: "";
  background-color: #2c4087;
  transform: translate(11px, -1px) rotate(-45deg);
}
.sp-humburger .drawer-hamburger-close::after {
  display: block;
  width: 2px;
  height: 24px;
  content: "";
  background-color: #2c4087;
  transform: translate(11px, -21px) rotate(45deg);
}

body {
  font-family: "Noto Sans JP", sans-serif;
}

.bg-main-color {
  background-color: #2c4087;
}

.bg-sub-color01 {
  background-color: #f7fCfd;
}

.bg-sub-color02 {
  background-color: #fafafa;
}

.bg-white {
  background-color: #fff;
}

p,
dd {
  color: #6f7579;
  line-height: 1.5;
  font-size: 0.875em;
}
@media screen and (min-width: 1000px) {
  p,
dd {
    line-height: 1.9;
    font-size: 1.143em;
  }
}

.text-blue {
  color: #1189c6;
}

.text-white {
  color: #fff;
}

.btn {
  border: 2px solid #1189c6;
  border-radius: 4px;
  width: 242px;
  height: 48px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.btn .btn-content {
  color: #1189c6;
  font-weight: bold;
  font-size: 0.75em;
}
.btn .btn-content::after {
  background: url(/ootomi-kensetsu/img/arrow.svg) no-repeat;
  content: " ";
  width: 20px;
  height: 22px;
  position: absolute;
  top: 15px;
  right: -1px;
}

.header__wrap {
  background-color: #2c4087;
  display: flex;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header__wrap .header__content {
  padding: 24px 20px;
}
@media screen and (min-width: 1000px) {
  .header__wrap .header__content {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    padding: 24px 0;
  }
}

.header__content .header__logo {
  font-size: 1.5em;
  font-weight: bold;
}

.main-image {
  background-image: url("/ootomi-kensetsu/img/main-sp.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 640px;
}
@media screen and (min-width: 1000px) {
  .main-image {
    background: url("/ootomi-kensetsu/img/main-pc.jpg") center/cover;
    background-position: center;
  }
}

.main-text {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1.58;
  padding: 190px 20px 0;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 1000px) {
  .main-text {
    width: 1000px;
    height: 893px;
    margin: 0 auto;
    font-size: 2.042em;
  }
}

.main__contents {
  padding: 0 40px 100px;
}
@media screen and (min-width: 1000px) {
  .main__contents {
    width: 1000px;
    margin: 0 auto;
    padding: 0 0 100px;
  }
}

.content__title {
  padding-top: 60px;
  font-size: 1.5em;
  text-align: center;
  font-weight: bold;
  color: #53585c;
  letter-spacing: 0.08em;
}
@media screen and (min-width: 1000px) {
  .content__title {
    padding-top: 90px;
    font-size: 2.083em;
  }
}
.content__title .sub-title {
  display: block;
  font-size: 0.583em;
  font-weight: normal;
  margin-bottom: 5px;
  letter-spacing: 0;
}

.secondary-text {
  text-align: center;
  font-size: 0.875em;
  margin-top: 20px;
}
@media screen and (min-width: 1000px) {
  .secondary-text {
    font-size: 1em;
    margin-top: 40px;
  }
}
.secondary-text .indention-sp {
  display: block;
}
@media screen and (min-width: 1000px) {
  .secondary-text .indention-sp {
    display: inline;
  }
}
.secondary-text .indention-pc {
  display: none;
}
@media screen and (min-width: 1000px) {
  .secondary-text .indention-pc {
    display: block;
  }
}

.business-content__wrap {
  background: url("/ootomi-kensetsu/img/bg-business-sp.png") no-repeat 50% 30px;
  background-color: #f7fCfd;
}
@media screen and (min-width: 760px) {
  .business-content__wrap {
    background: url("/ootomi-kensetsu/img/bg-business-pc.png") no-repeat 50% 40px;
    background-color: #f7fCfd;
  }
}

.content-business__list {
  margin-top: 40px;
}
@media screen and (min-width: 760px) {
  .content-business__list {
    display: flex;
    justify-content: space-between;
  }
}
.content-business__list .business__list-item {
  border: 1px solid #b8bcBf;
}
@media screen and (min-width: 760px) {
  .content-business__list .business__list-item {
    width: calc((100% / 3) - 20px);
  }
}
.content-business__list .business__list-item:not(:first-child) {
  margin-top: 20px;
}
@media screen and (min-width: 760px) {
  .content-business__list .business__list-item:not(:first-child) {
    margin-top: 0;
  }
}
.content-business__list .list-link {
  display: block;
}
.content-business__list .list-link .list-item-img {
  display: block;
  width: 100%;
  height: 192px;
  overflow: hidden;
}
.content-business__list .list-link .list-item-img .item-img {
  width: 100%;
}
.content-business__list .list-link .list-text__wrap {
  height: 171px;
}
.content-business__list .list-link .list-content-text {
  padding: 0 15px;
  text-align: center;
}
.content-business__list .list-link .list-content-text .list-content-text__title {
  font-size: 1.125em;
  color: #53585c;
  font-weight: bold;
  padding-top: 35px;
}
.content-business__list .list-link .list-content-text .list-content-text__text {
  font-size: 0.875em;
  margin-top: 10px;
}

.works-content__wrap {
  background: url("/ootomi-kensetsu/img/bg-works-sp.png") no-repeat 50% 100%;
  margin-bottom: 40px;
}

.works__contet {
  margin-top: 40px;
}
.works__contet .works__image-wrap {
  width: 100%;
  height: 221px;
  overflow: hidden;
}
.works__contet .works__image-wrap .works__image {
  width: 100%;
  object-fit: cover;
}
.works__contet .works__text {
  margin-top: 30px;
}
.works__contet .works__text__day {
  color: #6f7579;
  text-align: center;
}
.works__contet .works__text__label {
  background-color: #b91414;
  color: #fff;
  font-weight: bold;
  padding: 0 15px 2px;
  margin-right: 10px;
}
.works__contet .works__text__details {
  margin-top: 20px;
}
.works__contet .btn {
  margin-top: 40px;
}

.news__content {
  margin-top: 40px;
  padding-bottom: 50px;
}
.news__content .news__link {
  color: #707070;
  display: block;
}
.news__content .news__link:not(:first-child) {
  margin-top: 20px;
}
.news__content .news__definition-list {
  padding-bottom: 15px;
  border-bottom: 1px solid #707070;
}
.news__content .news__definition-list .news__definition-text {
  margin-top: 10px;
}

.bg-image-okinawa {
  background: url("/ootomi-kensetsu/img/bg-footer-sp.jpg") no-repeat;
  content: "";
  height: 311px;
}
.bg-image-okinawa .screen-reader-text {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.contact__content {
  margin-top: 40px;
  text-align: center;
}
.contact__content .contact__definition-list {
  width: 260px;
  margin: 0 auto;
}
.contact__content .contact__definition-tel {
  font-size: 1.5em;
  padding-bottom: 10px;
  border-bottom: 1px solid #707070;
}
.contact__content .contact__definition-tel .contact-link {
  color: #53585c;
  font-weight: bold;
}
.contact__content .contact__definition-tel .contact-link::before {
  background: url(/ootomi-kensetsu/img/icon-tel.svg) no-repeat;
  content: " ";
  display: inline-block;
  padding-right: 10px;
  position: relative;
  top: 1px;
  width: 31px;
  height: 23px;
}
.contact__content .contact__definition-text {
  padding-top: 10px;
}
.contact__content .btn {
  margin-top: 40px;
}

.footer-content {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
}
.footer-content .footer__copy-right {
  padding-top: 3px;
}
.footer-content .footer__sns {
  display: flex;
}
.footer-content .footer__sns__icon:not(:first-child) {
  margin-left: 30px;
}